*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: url(../Netflix/IN-en-20230904-popsignuptwoweeks-perspective_alpha_website_medium.jpg) transparent no-repeat center;
    width: 100%;
    height: 820px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.Cont-1{
    padding-left: 180px;
}
.Cont-2{
    padding: 35px;
    padding-left: 500px;
}
#Language{
    height: 35px;
    width: 150px;
    font-size: 20px;
    background-color: black;
    color: rgb(161, 158, 158);
    border-radius: 5%;
    border: 1px solid rgb(83, 81, 81);
}
.Buton{
    width: 80px;
    padding: 5px;
    margin-left: 25px;
    font-size: 13px;
    background-color: red;
    color: white;
    border: solid red;
    border-radius: 5%;
}
.context{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 200px;
}
h1{
    font-family: sans-serif;
}
.para{
    font-size: 22px;
}
#input{
    height: 55px;
    width: 400px;
    padding: 3px;
    border: 1px solid rgb(252, 248, 248);
    border-radius: 3%;
    background-color: rgb(29, 28, 28);
    color: white;
    opacity: 0.6;
}
.Acer{
    background-color: red;
    color: white;
    border: 1px solid red;
    width: 250px;
    height: 55px;
    font-family: sans-serif serif;
    font-size: 25px;
    border-radius: 3%;
    padding-bottom: 8px;
}
.sanju{
    height: 650px;
    padding-top: 250px;
    background-color: black;
    display: flex;
}
.text1{
    color: white;
    font-size: 53px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
}
.text2{
    color: white;
    font-size: 27px;
    padding-left: 200px;
    padding-right: 730px;
    font-family: sans-serif;
}
.tv{
    height: 200px;
    width: 400px;
    padding-right: 300px;

}