<style>
            #first{
                background-color: aquamarine;
            }
            .bg-blue{
                background-color: blue;
                color: aliceblue;
            }
    </style>